version=com.cloudera.sqoop:sqoop.version
sqoop.version=com.cloudera.sqoop:sqoop.version
reactor.repo=https://repository.cloudera.com/content/repositories/snapshots
hadoop-core.cloudera.version=org.apache.hadoop:hadoop-main.version
hadoop.version=org.apache.hadoop:hadoop-main.version

hbase.version=org.apache.hbase:hbase.version

zookeeper.version=org.apache.zookeeper:zookeeper.version

avro.version=org.apache.avro:avro.version

